@import url('fonts.css');

:root {
    --color-primary: #A0CCF2;
    --color-blue: #30698C;
    --color-celeste: #B6DBF2;
    --color-verdeoscuro: #6D7340;
    --color-verde: #7E8C49;
}

body {
    margin: 0%;


}
         /* PARTE DEL HEADER */
.Header {
    background-color: var(--color-verdeoscuro);
    border: black 2px solid;
    text-align: center;
    padding: 15px;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
}

.Titulo {
    font-size: 110px;
    margin: 0;
    font-family: "Libertinus";
}

.baselogo {
    background-color: white;
    width: 190px;
    height: 140px;
    border-radius: 28%;
    margin-left: 40px;
    margin-right: 280px;
}

.logo {
    width: 150px;
    height: 150px;
    margin-top: -10px;
}

.Ayuda {
    margin-right: 10px;
    margin-left: 290px;
    margin-top: 40px;
    height: 60px;
    width: 190px;
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
    background-color: var(--color-primary);
    border-radius: 30px;
    cursor: pointer;
    border: black 2px solid;
    transition: transform 0.3s ease, color 0.3s ease;
}

.Ayuda:hover {
    transform: scale(1.2);
    color: rgb(22, 22, 22);
}

.HeaderOpciones {
    display: flex;
    height: 115px;
    background-color: white;
    border: black 2px solid;
    font-size: 40px;
}

.Opciones {
    text-decoration: none;
    color: black;
    margin: 75px;
    font-family: "Rowdies-Light";
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.Opciones:hover {
    transform: scale(1.2);
    color: gray;
}

.IMGprincipal {
    background-image: url('img/IMG\ 2.webp');
    width: 100%;
    height: 550px;
    background-size: cover;
    background-position: center 100%;
}

.ImgTransparencia {
    background-color: rgba(34, 105, 38, 0.3);
    width: 100%;
    height: 550px;
}

.TextoPRINCIPAL {
    color: white;
    font-size: 95px;
    font-family: 'Onyx', sans-serif;
    letter-spacing: 1.2px; /* espaciado entre letras */
    margin: 0;
    transform: scaleX(1.5); /* 1.5 = 150% más ancho */
    display: inline-block; /* necesario para que el transform funcione bien */
    margin-top: 50px;
    margin-left: 280px;
    width: 40vw;
}

.IMGprincipal2 {
    background-image: url('img/IMG\ principal\ 2.webp');
    width: 1896px;
    height: 552px;
    background-size: cover;
}

.Botonprincipal {
    background-color: var(--color-blue);
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 3.5rem;
    padding: 1rem 2.4rem;
    border-radius: 4rem;
    margin-top: 46px;
    margin-left: 48.5%;
    letter-spacing: 1.6px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.Botonprincipal:hover {
    transform: scale(1.0);
    color: rgb(207, 207, 207);
}
/* =============================
           PATE DEL MAIN 
   ============================= */
.Sub-mensaje {
    display: flex;
    gap: 17px; /* Espacio entre el subtítulo y el mensaje */
}
.Subtitulo {
    margin-left: 105px;
    font-size: 3.7rem;
    font-family:'Libertinus';
    transform: scaleY(1.1); /* 1.5 = 150% más ancho */
    display: inline-block; /* necesario para que el transform funcione bien */
}
.Mensaje {
    background-color: var(--color-celeste);
    border-radius: 100px 0px 0px 100px;
    border: black 1px solid;
    padding: 15px 90px 15px 60px;
    width: 41.5%;
    font-family: 'Rubik';
    font-size: 1.7rem;
    text-align: justify;
    line-height: 1.6;
}

/* ==============================
                ROPA 
   ============================== */
.Contenedor1 {
    display: flex;
    gap: 16%; /* Espacio entre el subtítulo y el mensaje */
    align-items: center;
}
.Generos {
    background-color: var(--color-verde);
    border-radius: 0px 100px 100px 0px;
    border: black 1px solid;
    color: white;
    padding: 28px 110px 25px 130px;
    width: 12%;
    height: 6%;
    font-family: 'Rubik';
    font-size: 3.6rem;
    margin: 10px, 0px, 0px, 0px;
}
.Generos2 {
    background-color: var(--color-verdeoscuro);
    border-radius: 0px 100px 100px 0px;
    border: black 1px solid;
    color: white;
    padding: 28px 110px 25px 130px;
    width: 12%;
    height: 6%;
    font-family: 'Rubik';
    font-size: 3.6rem;
    margin: 10px, 0px, 0px, 0px;
}
.Mencion1 {
    font-size: 5rem;
    font-family:'Onyx';
    transform: scaleX(1.5); /* 1.5 = 150% más ancho */
    display: inline-block; /* necesario para que el transform funcione bien */
    margin: 30px;
}
.Ropa {
    display: flex;
    gap: 60px;
    margin-top: 20px;
    position: relative;
    justify-content: center;
}
.img-container {
    height: 690px;
    width: 385px;
    border: black 1px solid;
    cursor: pointer;
    overflow: hidden; /* corta lo que sobresalga */
}
.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* hace que la imagen cubra el div sin deformarse */
}
.boton-1 {
    position: absolute; 
    top: 45%;
    right: 0;
    background-size: cover;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: none;
}
.boton-1 img {
    margin: 0;
    width: 100%;
    height: 100%;
    size: cover;
}
.card {
    display: flex;
    flex-direction: column;
}
.Precio {
    font-family: 'Rubik', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.P-real {
    color: black;
    font-size: 2.5rem;
    margin-left: 30px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.P-rebaja {
    margin-top: 30px;
    color : rgba(128, 128, 128, 0.651);
    font-size: 2rem;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
/* =================
       CARRUSEL 
   ================= */
.carrusel-infinito{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.carrusel-track{
    display: flex;
    animation: deslizarInfinito 15s linear infinite;
    gap: 100px;
}
.carrusel-track img {
    height: 590px;
    border-radius: 8px;
    object-fit: cover;    /* No distorsiona y no se corta */
}
/* Movimiento continuo sin "regreso" */
@keyframes deslizarInfinito {
    from { transform: translateX(0);}
    to { transform: translateX(-134.7%);} /* mueve solo parte del track */
}
/* ====================
       INFORMACION 
   ==================== */
.basetext{
    width: 85%;
    height: 100px;
    margin: 50px auto;
}
.textoDBC {
    width: 85%;
    height: 100px;
    font-family: "Rubik", sans-serif;
    font-size: 26px;
    text-align: justify;
    margin: 40px auto;
    word-spacing: 2px;
    letter-spacing: 1px;
}
.img-info {
    width: 60%;
    display: block;
    margin: 50px auto;
    background-size: cover;
    size: cover;
}
.info-titulo {
    font-family: "Rubik";
    font-size: 49px;
    text-align: center;
    margin: 40px auto;
}
.info{
    font-size: 22px;
    font-family: "Rubik";
    text-align: justify;
    width: 78%;
    margin: 0 auto 70px auto;
    line-height: 1.5;   /* puedes subir o bajar el valor */
}
/* ==================
         FOOTER 
   ================== */
.footer{
    background-color: #30698C;
    width: 100%;
    height: 425px;
    margin: 0;
}
.part1{
    width: 100%;
    height: 320px;
    margin: 0;
    padding: 18px 18px 0 18px;
    display: flex;
    gap: 50px;
}
.N-N-E{
    font-size: 27px;
    font-family: "Rubik";
    font-weight: 100; /* Valores: 100, 200, 300 = más delgado */
    margin-top: 15px;
    color: white;
}
.U-L-S{
    font-size: 26px;
    width: 580px;
    color: white;
    font-family: "Rubik";
    font-weight: 100; /* Valores: 100, 200, 300 = más delgado */
}
.footer-boton{
    background-color: var(--color-celeste);
    font-size: 28px;
    padding: 10px 60px 10px 30px;
    border-radius: 50px;
    word-spacing: 80px;
}
.Bandera{
    width: 45px;
    margin: 0 15px 0 50px;
}
.footer-input{
    width: 550px;
    height: 40px;
    border-radius: 50px;
    padding: 0 15px 0 15px;
    font-size: 15px;
    background-color: var(--color-primary);
}
.Soporte{
    font-size: 26px;
    color: white;
    font-family: "Rubik";
    font-weight: 100; /* Valores: 100, 200, 300 = más delgado */
}
.icon-soporte{
    width: 45px;
    margin: 0 8px 0 0;
}
.Check{
    width: 30px;
    margin: 0 12px 0 5px;
}
.part2{
    width: 100%;
    height: 70px;
    display: flex;
    gap: 75px;
    padding: 0px 18px 18px 18px;
}
.part2 p{
    font-size: 27px;
    color: white;
    font-family: "Rubik";
    font-weight: 100; /* Valores: 100, 200, 300 = más delgado */
    margin-left: 50px;
}
.imgs-final{
    display: flex;
    gap: 35px;
}
.imgs-final img{
    width: 53px;
}